// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ion-tab-icon-base {    
    width: 20px;    
    height: 20px;    
    padding: 0px 1px 1px;    
  }    
      
  .ion-tab-icon-md-base {    
    width: 25px;  
    min-width: 25px !important;    
    height: 25px;  
  }    
      
  $tabImageName: 'cubes' 'map' 'history';  
  $fontawesomeIcon : '\f1b3' '\f278' '\f1da';  
  @for $i from 1 to 4 {        
    //for ios    
    .ion-ios-tab-#{nth($tabImageName, $i)}:before {     
      @extend .ion-tab-icon-base;  
      font : normal normal normal 14px/1 FontAwesome;
      content : "#{nth($fontawesomeIcon,$i)}";
      font-size: 2.5rem;
      width: auto;
    }    
    .ion-ios-tab-#{nth($tabImageName, $i)}-outline:before {    
      @extend .ion-tab-icon-base;  
      font : normal normal normal 14px/1 FontAwesome;
      content :"#{nth($fontawesomeIcon,$i)}";
      font-size: 2.5rem;
      width: auto;
    }    
      
    // for android    
    .tabs-md .tab-button[aria-selected=true] {    
      .ion-md-tab-#{nth($tabImageName, $i)}:before {    
        @if $i == 1 {  
          width: 23px;  
          min-width: 23px !important;    
          height: 23px;  
        } @else if $i == 2{  
          width: 25px;  
          min-width: 25px !important;    
          height: 20px;  
          padding: 2px 1px 1px;  
        } @else {  
          @extend .ion-tab-icon-md-base;    
        }  
        font : normal normal normal 14px/1 FontAwesome;
        content :"#{nth($fontawesomeIcon,$i)}";
        font-size: 2.5rem;
        width: auto;
        // content: url("../assets/icon/tabs/#{nth($tabImageName, $i)}_choosed.png");    
      }    
    }    
    .tabs-md .tab-button[aria-selected=false] {    
      .ion-md-tab-#{nth($tabImageName, $i)}:before {  
        @if $i == 1 {  
          width: 24px;  
          min-width: 24px !important;    
          height: 24px;  
        } @else if $i == 2{  
          width: 25px;  
          min-width: 25px !important;    
          height: 18px;  
        } @else if $i == 3{  
          width: 22px;  
          min-width: 22px !important;    
          height: 25px;  
        } @else {  
          @extend .ion-tab-icon-md-base;    
        }  
        font : normal normal normal 14px/1 FontAwesome;
        content : "#{nth($fontawesomeIcon,$i)}";
        font-size: 2.5rem;
        width: auto;
      }    
    }    
  }  


  @import "../pages/main-page/search-main/modal/previewDoc/previewDoc.modal.scss";
  @import "../pages/main-page/search-main/modal/previewPDF/previewPDF.scss";

  @import "../pages/main-page/search-main/search-main.scss";