<ion-header class="top--box">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
                <form (ngSubmit)="parameter.currentPage=1;getList()" class="search--input--box">   
                        <ion-input placeholder="请输入关键字" class="search--input" type="text" [(ngModel)]="parameter.keywords" name="title"></ion-input> 
                        <span class="fa fa-search" (click)="parameter.currentPage=1;getList()"></span>                     
                </form>            
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher [pullMin]="160" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="更新中...">

        </ion-refresher-content>

    </ion-refresher>
    <div class="item--count--box">
        
        <ion-item>
            <ion-label>档案库</ion-label>
            <ion-select (ionChange)="changeDocbase()" placeholder="还没有选择库" okText="确定" cancelText="取消" [(ngModel)]="parameter.libId">
              <ion-option *ngFor="let docBase of docBaseLists" [value]="docBase.objectId">{{docBase.name}}</ion-option>
            </ion-select>
        </ion-item>

        <span class="item--count" *ngIf="parameter.parentId" style="color:#488aff" (click)="gotoPrevious()">返回上一级</span>        
        <!-- <div>
            <span class="item--count" *ngIf="parameter.parentId" style="float:right;color:#488aff" (click)="gotoPrevious()">返回上一级</span>
        </div>
         -->
        
        <!-- <a  style="float:right" (click)="openSearchAdvance()">高级检索</a> -->
    </div>
    <div *ngIf="searchResults.length == 0" class="no--data">
        <img src="assets/imgs/no_result.png" alt="">
        <p>暂无相关数据</p>
    </div>

    <div *ngIf="searchResults.length > 0">
        <ion-list>
            <ion-item class="single--item--box" *ngFor="let searchResult of searchResults" (click)="itemSelected(searchResult)">
                <ion-avatar item-start>
                    <img onerror="this.src='assets/images/icon/unknown.png'" class="data--list--doc--icon" *ngIf="searchResult.type != '3'"
                        src="assets/images/icon/archives.png" alt="">

                    <img class="data--list--doc--icon" *ngIf="searchResult.type == '3'" onerror="this.src='assets/images/icon/unknown.png'"
                        src="assets/images/icon/unknown.png" alt="">
                </ion-avatar>
                <ng-container *ngFor="let column of columns;let i = index">
                    {{searchResult[column]}}
                    <span *ngIf="i < columns.length"> |</span>
                </ng-container>             
            </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="changePage($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

</ion-content>