<ion-header class="top--box">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-searchbar class="search--input" debounce="1000" (ionInput)="parameter.currentPage=1;getList()" [(ngModel)]="parameter.object_name" placeholder="请输入关键字">
            </ion-searchbar>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher 
    [pullMin]="160"
    (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="更新中..."
        >

        </ion-refresher-content>

    </ion-refresher>
    <div class="item--count--box">
        <span class="item--count">共{{parameter.totalCount}}个文件</span>   
        <a 
        *ngIf="parameter.parentId != 0"
        style="float:right"
        (click)="gotoPrevious()">返回上一级</a>
    </div>    
    <div *ngIf="searchResults.length == 0" class="no--data">
        <img src="assets/imgs/no_result.png" alt="">
        <p>暂无相关数据</p>
    </div>

    <div *ngIf="searchResults.length > 0">
        <ion-list>
            <ion-item class="single--item--box" *ngFor="let searchResult of searchResults" (click)="itemSelected(searchResult)">
                <ion-avatar item-start>
                    <img onerror="this.src='assets/images/icon/unknown.png'" class="data--list--doc--icon" *ngIf="searchResult.r_object_type != 'wison_prj_document'  && searchResult.r_object_type != 'wison_document' && !searchResult.a_content_type"
                        src="assets/images/icon/{{searchResult.r_object_type}}.png" alt="">
                    <img onerror="this.src='assets/images/icon/unknown.png'" class="data--list--doc--icon" *ngIf="(searchResult.r_object_type == 'wison_prj_document' || searchResult.r_object_type == 'wison_document') && searchResult.a_content_type"
                        src="assets/images/icon/{{searchResult.a_content_type}}.png" alt="">
                    <img class="data--list--doc--icon" *ngIf="(searchResult.r_object_type == 'wison_prj_document' || searchResult.r_object_type == 'wison_document') && !searchResult.a_content_type"
                        src="assets/images/icon/unknown.png" alt="">
                </ion-avatar>
                <h2 class="object--name">
                    {{searchResult.object_name}}
                </h2>

                <p [innerHTML]="searchResult.a_status"></p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="changePage($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

</ion-content>