.top--box{
    .toolbar-ios{
        padding: 10px 4px;
        min-height: 52px;
    }
    .toolbar-ios ion-title{
        padding: 0 10px 1px 50px;
    }
    .toolbar-title-ios{
        color: #ffffff;
    }
    .bar-button-default-md{
        color: #ffffff;
    }
    .toolbar-background-ios, .toolbar-background{
        background: #1D82D2;
        border-bottom: transparent;
    }
    .bar-button-default-ios{
        color: #ffffff;
    }
    .search--input--box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        background: #1873bd;
        .fa-search{
           color: #f8f8f8;
        }
    }
    .search--input{
        color: #ffffff;
        .text-input-ios{
            color: #ffffff;
            font-size: 1.3rem;
            padding-left: 10px;
            &::before{
                font: normal normal normal 14px/1 FontAwesome;
                content: "\f002";
                position: absolute;
                top: 0;   
                right: 0;
            }
            &::-webkit-input-placeholder{
                color: #cccccc;
            }
            &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color: #cccccc;
            }
            &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color: #cccccc;
            }
            &:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                color: #cccccc;
            }
        }
        .searchbar-input-container{
            font: normal normal normal 14px/1 FontAwesome;
            &:after{
                content: "\f002";
                font-size: 1.3rem;
                position: absolute;
                top: 7px;
                left: 10px;
                color: #f4f4f4;  
            }
        }
        .searchbar-input{
            background: #1973B9;
            height: 2.3rem;
            color: #ffffff;
            font-size: 1.4rem;
            box-shadow: none;
            padding: 6px 15px 6px 35px;
            &::-webkit-input-placeholder{
                color: #cccccc;
            }
            &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color: #cccccc;
            }
            &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color: #cccccc;
            }
            &:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                color: #cccccc;
            }
        }
        .searchbar-search-icon{
            top: 7px;
            background-image: none;
        }
    }
    
}
.scroll-content{
    padding: 0 !important;  
}
.item--count--box{
    // margin: -16px -16px 0;
    padding: 10px 15px;
    background: #F2F2F2;
}
.single--item--box{
    border-bottom: 0.55px solid #c8c7cc;
    &:first-child{
        border-top: none !important;
    }
    .item-inner{
        border-bottom: none !important;
    }
    .object--name{
        margin-top: 0 !important;
    }
}
.no--data{
    // width: 50%;
    // height: 50%;
    // position: absolute;
    // text-align: center;
    // margin: auto;
    // top: 70px;
    // left: 0;
    // right: 0;
    // color: #ab0909;
    width: 100%;
    padding: 40px 0;
    &:before{
    //   font: normal normal normal 14px/1 FontAwesome;
    //   content: '\f06a';
    //   color: #ab0909;
    }
    img{
        width: 60px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    p{
        color: #585858;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
    }
  }